// COLORS
$purple: #a93c74;
$pink: #f15365;
$orange: #eda652;
$green: #c8cb5b;
$blue: #94c8b9;
$black: #000000;
$cream: #ffffcc;

// TYPOGRAPHY
$inconsolata: 'Inconsolata', monospace;
$lora: 'Lora', serif;
$noto-sans: 'Noto Sans', sans-serif;

$game-font: $inconsolata;
$title-font: $lora;
$body-font: $noto-sans;
